.hero, .hero-body
  display: flex
  flex-direction: column
  margin-top: 12px

  @media screen and (min-width: 1024px)
    flex-direction: row
    margin-top: 0

.hero, .hero img
  max-height: 100%

.hero-body
  align-items: center

.hero-body > div
  display: flex
  flex-direction: column-reverse

  @media screen and (min-width: 1024px)
    flex-direction: row
