.navbar
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%

.navbar-burger
  display: block

  @media screen and (min-width: 1024px)
    display: none

.navbar-menu
  display: flex
  flex-direction: row
  justify-content: space-between

  @media screen and (min-width: 1024px)
    width: 100%

.navbar-start, .navbar-end
  display: none

  @media screen and (min-width: 1024px)
    display: flex
    justify-content: space-evenly

.navbar-start > .item, .navbar-end .item
  display: none

  @media screen and (min-width: 1024px)
    display: flex
    justify-content: space-evenly

.navbar-start
  width: 45%

  @media screen and (min-width: 1024px)
    width: 35% // 33%

.navbar-end
  width: 20%
