@use 'reset'
// Components
@use 'components/navbar'
@use 'components/hero'
// Elements
@use 'elements/heading'
@use 'elements/button'

img
  max-width: 100%
  max-height: 100%

.container
  min-height: 100vh
  max-width: 1440px
  margin: 25px

  &--narrow
    @extend .container
    margin: 0
    max-width: 1024px
