@use '../color'

.button
  border: 1px solid color.$almost-black

  &--bg-almost-black
    @extend .button
    background-color: color.$almost-black
    color: color.$almost-white

  &--rounded-lg
    @extend .button
    border-radius: 8px
