@use '../global'
@use '../color'

.text
  font-family: global.$font-family
  line-height: 1.125em

  &--color-medium-gray
    @extend .text
    color: color.$medium-gray

  &--size-xxs
    @extend .text
    font-size: 0.7rem
  &--size-xs
    @extend .text
    font-size: 0.95rem
    line-height: 1.5em !important
  &--size-sm
    @extend .text
    font-size: 1.25rem
  &--size-base
    @extend .text
    font-size: global.$default-font-size
  &--size-lg
    @extend .text
    font-size: 1.5rem
  &--size-xl
    @extend .text
    font-size: 2rem
  &--size-2xl
    @extend .text
    font-size: 2.5rem
  &--size-3xl
    @extend .text
    font-size: 3rem  
    &--only-lg
      @media screen and (min-width: 1024px)
        font-size: 3rem !important


  &--align-center
    @extend .text
    text-align: center

  &--weight-medium
    @extend .text
    font-weight: 500
  &--weight-bold
    @extend .text
    font-weight: 700
